 .App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
.containpatient{
  width: 100%;
  height: 100vh;
  background-image: url('newImage.jpg');
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  position: relative;

}
.profile-links{
  background-color:mediumturquoise;
  padding: 30px 20px;
  text-align:center;
  margin: 100px 50px 0 50px;
  border-radius: 10px;
}
.profile-links img{
 width: 200px;
 height: 200px;
 border-radius: 50%;
 display:ruby-base-container;
 margin-bottom: 25px;
}

.profile-links li{
  display: block;
  margin: 10px 0;
}
.profile-links li a{
  color: white;
  text-decoration:underline;
  margin: 10px 0;
  display: inline-block;
}
.mt-custom{
  margin-top: 100px;
}

.mt-custom details{
  border-bottom: 1px solid black;

}
.col-1{
  padding-top: 150px;
}
.about{
  padding-top: 110px;
} 

.patient{
  display: absolute;
  right : 50px;
  

}